In [3]:
import sys
sys.path.append('../../')
from utils.connection import postgres_connection
import pandas as pd

In [4]:
query = """
select * from healthcare.public.appointments a 
"""

df = pd.read_sql(query, con=postgres_connection())

In [5]:
df.dtypes

appointment_id       int64
patient_id           int64
appointment_date    object
appointment_type    object
provider_id          int64
dtype: object

In [6]:
# transfomations
df['appointment_date'] = pd.to_datetime(df['appointment_date'], format='%Y-%m-%d')

In [7]:
# Refining the data
df["day_of_week"] = df["appointment_date"].dt.day_name()
df["time_since_last_appointment"] = (
    pd.to_datetime("now") - df["appointment_date"]
).dt.days

In [8]:
df.head()

,appointment_id,patient_id,appointment_date,appointment_type,provider_id,day_of_week,time_since_last_appointment
0,1,37,2023-02-25,Checkup,4,Saturday,815
1,2,36,2023-03-10,Emergency,7,Friday,802
2,3,46,2023-04-02,Checkup,3,Sunday,779
3,4,1,2023-01-16,Consultation,6,Monday,855
4,5,42,2023-03-24,Emergency,4,Friday,788