In [1]:
import sys
sys.path.append('../')
from utils.connection import postgres_connection
import pandas as pd

In [2]:
query = """
select * from healthcare.public.appointments a 
"""

df = pd.read_sql(query, con=postgres_connection())
df

     appointment_id  patient_id appointment_date appointment_type  provider_id
0                 1          37       2023-02-25          Checkup            4
1                 2          36       2023-03-10        Emergency            7
2                 3          46       2023-04-02          Checkup            3
3                 4           1       2023-01-16     Consultation            6
4                 5          42       2023-03-24        Emergency            4
..              ...         ...              ...              ...          ...
100             101          51       2022-12-15          Checkup            4
101             102          52       2023-01-20     Consultation            2
102             103          53       2023-01-10        Emergency            7
103             104          54       2023-02-05          Checkup            5
104             105          55       2022-12-25     Consultation            3

[105 rows x 5 columns]